* {
    scroll-behavior: smooth;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    overflow-x: hidden;
    scrollbar-width: none;
}

.desktop {
    box-sizing: border-box;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
    height: 60px;
}

.navbar {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(83, 86, 93);
    color: white;
    z-index: 1000;
}


.navbar .nav-links a {
    text-decoration: none;
    font-weight: 500;
}



.navbar .nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar .nav-links a:hover {
    color: rgb(255, 195, 0);
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 30px;
    color: white;
    align-items: center;
    justify-content: center;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.nav-links li {
    cursor: pointer;
    position: relative;
    font-size: 0.95rem;
    transition: color 0.2s;
    font-weight: 500;
    color: white;
    justify-content: center;
}

.navbar li:nth-child(1) {
    border-right: 2px solid rgb(255, 195, 0);
    padding-right: 20px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.nav-links li:first-child a {
    font-weight: 500;
    font-size: 22px;
}

.navbar-links.active {
    opacity: 1;
    transform: translateY(0);
}

.nav-links li:first-child img {
    margin-top: 5px;
    width: 55px;
    height: auto;
    transform: rotate(180deg);

}